.quotationCRM-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  background: rgba(253, 253, 253, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quotationCRM-container::-webkit-scrollbar {
  display: none;
}
.quotationCRM-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.quotationCRM-header > p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
}
.quotationCRM-header > button {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 14px;
  background: #234e70;
  color: #fff;
  border-radius: 5px;
  border: 0px;
  min-width: 123px;
}
